body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}

.navbar-left .site-name {
  margin: 0;
  font-size: 24px;
}

.navbar-right {
  flex-grow: 1;
  text-align: right;
}
.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}
.search-bar {
  display: flex;
}
.search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.5rem 1rem;
}
.search-button {
  background-color: #28a745;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.5rem 1rem;
}
#search-input {
  padding: 7px;
  width: 250px;
  border: none;
  border-radius: 4px;
}

.categories {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 10px 0;
}

.category-button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.category-button:hover {
  background-color: #666;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.movie-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 200px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.movie-card p {
  color: #777;
  font-size: 14px;
}

.movie-card:hover {
  transform: scale(1.05);
}